<div class="container">


<div ><img src="images/madlib1.png" alt=""></div>

<div>

  <input type="text" placeholder="Adjective" ng-model="words.adjectiveone">
  <input type="text" placeholder="Color" ng-model="words.colorone">
  <input type="text" placeholder="Color" ng-model="words.colortwo">
  <input type="text" placeholder="Adjective" ng-model="words.adjectivetwo">
  <input type="text" placeholder="Number" ng-model="words.numberone">
  <input type="text" placeholder="Number" ng-model="words.numbertwo">
  <input type="text" placeholder="Animal" ng-model="words.animalone">
  <input type="text" placeholder="Animal" ng-model="words.animaltwo">
</div>
<div>

  <button type="button" ng-click="submitWords(words)">Send</button>
</div>



</div>
